* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.but {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 15px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0px 0px 10px #4b4a4a;
}

button a {
    color: #ffff;
    text-decoration: none;
}

button:hover {
    background-color: #2bab0d;
}
/* footer section */
.view{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #388438;
}
.view a{
    color: #9ab09a;
    text-decoration: none;
}

footer{
    width: 100%;
    height: 70vh;
    background-color: #006400;
}
/*footer dropdown */
.bit {
    display: none;
    color: #ffff;
}
.bit a{
    color: #9ab09a;
    text-decoration: none;
}
.money{
    cursor: pointer;
}
.money:hover .bit {
    display: flex;
    position: absolute;
    flex-direction: column;
}

/* text in the footer */
.get{
    gap: 16%;
    padding: 10px;
    color: #9ab09a;
    display: grid;
    padding-top: 30px;
    grid-template-columns: auto auto auto auto;
}

.get ul li{
    list-style-type: none;
}

/* responsive design */
@media screen and (max-width: 1105px){
    .header{
        position: relative;
    }
    .navbar {
        flex-direction: column!important;
        position: absolute;
        margin-top: 70px;
    }
}


@media screen and (max-width: 695px){
    .header h1{
        font-size: 35px;
        margin-top:15px;
    }
    .navbar{
        display: none;
    }
    .get{  
        grid-template-columns: auto auto;
    }

    .text p{
        padding-top: 200px;
        padding-bottom: 50px;
        font-size: 35px;
        width: 200px!important;
    }

    .pre{
        padding-bottom: 30px;
        padding-top: 20px!important;     
    }
    .img{
        width: auto;
        height: 65vh;
        background-size: 900px;
        background-repeat: no-repeat;
        background-image: url(/image/Premium\ Photo\ _\ Real\ estate\ concept\ with\ floating_.jpeg);
        
    }
}


@media screen and (max-width: 400px){
    .get{  
        grid-template-columns: auto;
    }
}

