* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* the body */

.img{
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/image/Premium\ Photo\ _\ Real\ estate\ concept\ with\ floating_.jpeg);
    
}
.text p{
    padding-top: 40px;
    margin-left: 40px;
    font-size: 70px;
    font-weight: bolder;
    width: 30px;
}
.for{
    margin-left: 40px;
    font-weight: bolder;
    width: 300px;
}
pre{
    color: #949894;
    margin-left: 40px;
    font-size: 15px;
}
pre a{
    text-decoration: none;
}
#bug{
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
    height: 30px;
    background-color: #006400;
}
#but1 {
    width: 100%;
    display: flex;
    align-items: center;
}


